<nav class="navbar white-paper">
	<div class="navbar-inner text-center">
    <div class="btn-group" data-bind="foreach: router.visibleRoutes">
        <a data-bind="css: { active: isActive }, attr: { href: hash, id: settings.id }, text: name" 
            class="btn btn-info top-navo" href="#/"></a>
    </div>
    <!--<div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
      <div class="progress progress-striped active page-progress-bar">
        <div class="bar" style="width: 100px;"></div>
      </div>
    </div>-->
	</div>
	<img id="top-paint" src="content/images/top-paint.png" alt="top-paint" />
</nav>
<header>
	<div id="elevator-pitch" class="white-paper">
		<h2 class="page-title"><img id="val-sam" class="logo-img" src="content/images/val-sam.png" alt="Value Samurai" /></h2>
			<h1>Automated Betting Value Calculator</h1>
			<p>We take <strong>tennis</strong> and <strong>football</strong> predictions from <a href="http://www.tennisbetting365.com">Tennis Betting 365</a> and <a href="http://www.dectech.co.uk/football.html">Decision Technology</a>.</p>
    	<p>We calculate the best value bets from a variety of bookmakers and betting exchanges.</p>
			<p>This project is <strong>open source</strong>. If you'd like to contribute, please visit our <a href="https://github.com/martinstaniforth/samurai">GitHub repository</a>.</p>
    	<p>For further information, follow our <a href="http://blog.valuesamurai.com" target="_blank">blog</a>.</p>			    
	</div>
	<img id="bottom-paint" src="content/images/bottom-paint.png" alt="top-paint" />
</header>