<section id="performance-anchor" class="main-content-info">
  <h2 class="text-center">Model Performance</h2>
  <p>The chart below details how Tennis Betting 365 has performed in 2013. The model is more reliable with more data, so we set a floor of 70 matches in the past 18 months for both players.</p>
  <p>We take bets with a perceived edge of 20% over bookmaker's prices.</p>
  <p>Dectech football model and previous year's analysis coming soon...</p>
  <p id="outcome">Crunching the numbers, please be patient...</p>
  <div class="white-section">
    <div class="row margin-clear">
      <div id="daily-bubble-chart" class="chart">
        <strong>Daily bet performance</strong> (x: date, y: flat profit, radius: bet size)

        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row margin-clear">
      <div id="profit-or-loss-chart" class="col-lg-2">
        <strong>Bets by profit/loss</strong>

        <div class="clearfix"></div>
      </div>
      <div id="bets-by-surface-chart" class="col-lg-2">
        <strong>Bets by surface</strong>

        <div class="clearfix"></div>
      </div>
      <div id="bets-by-series-chart" class="col-lg-2">
        <strong>Bets by series</strong>

        <div class="clearfix"></div>
      </div>
      <div id="edge-chart" class="col-lg-3">
        <strong>Bets by edge</strong>

        <div class="clearfix"></div>
      </div>
      <div id="games-played-chart" class="col-lg-3">
        <strong>Min games</strong>
            
        <div class="clearfix"></div>
      </div>            
    </div>
    <div class="row margin-clear">
      <table class="table table-hover dc-data-table">
        <thead>
          <tr class="header">
            <th>Date</th>
            <th>Match</th>
            <th>Probability</th>
            <th>Odds</th>
            <th>Bookmaker</th>
            <th>Edge</th>
            <th>Stake</th>
            <th>Outcome</th>
            <th>Profit</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</section>