<div id="todays-matches-anchor" class="main-content-info">
	<h2 class="text-center">Today's Matches</h2>
	<p>We calculate today's value bets using the simultaneous <a href="http://en.wikipedia.org/wiki/Kelly_criterion">Kelly Criterion</a>.</p>
	<p>Where more than <span>9</span> bets occur in a single day we switch to Chris Whitrow's <a href="http://www.academia.edu/1027427/Algorithms_for_optimal_allocation_of_bets_on_many_simultaneous_events">algorithm</a> for estimated bet sizes.</p>
</div>	
<div class="main-banner-container text-center">
	<div class="main-banner">

	</div>
</div>
		
<div class="row margin-clear">
	<div class="col-sm-3 col-lg-3">
    <nav>
      <ul id="side-bar" class="nav nav-pills nav-stacked white-section" data-bind="foreach: competitions">
        <li data-bind="css: { 'active': isSelected() }">
          <a>
            <span data-bind="text: caption, click: $parent.selectGrouping"></span>
            <span class="pull-right"><i class="icon-chevron-right"></i></span>
          </a>
        </li>
      </ul>
    </nav>
	</div>
	<div class="col-sm-9 col-lg-9 white-section">
    <div class="filter-box-container">
      <input class="filter-box"
              data-bind="value: betFilter.searchText, valueUpdate: 'afterkeydown', escape: clearFilter"
              placeholder="filter by team, player, league, competition or sport" type="text" />
      <a class="clear-text" data-bind="click: clearFilter" title="Clear"><i class="icon-remove"></i></a>
    </div>
    <div id="action-wrapper">
      <a id="calculate-value" class="btn btn-info btn-force-refresh pull-right" 
          data-bind="click: calculateValue" href="#"><i class="icon-refresh"></i> Calculate Bets</a>
      <div class="match-counter">
        <span data-bind="text: todaysMatchesCount"></span>
        <span>found</span>
      </div>
    </div>
		<section id="matches-collection-tennis" data-bind="foreach: todaysTennisSchedules">
			<div class="match">
				<div class="match-header">
					<small class="pull-left" data-bind="text: tournament"></small>
					<small class="pull-right" data-bind="text: matchTime"></small>
				</div>
				<div class="match-content">
					<div class="row">
            <div class="clearfix visible-xs"></div>
					  <div class="col-xs-5 col-lg-4 text-right"><div class="team" data-bind="text: playerASurname"></div></div>
					  <div class="col-xs-2 col-lg-4 text-center"><div class="vs">vs.</div></div>
					  <div class="col-xs-5 col-lg-4 text-left"><div class="team" data-bind="text: playerBSurname"></div></div>
					</div>
					<div class="row">
            <div class="clearfix visible-xs"></div>
					  <div class="col-xs-5 col-lg-4 text-right"><div class="first-name" data-bind="text: playerAFirstName"></div></div>
					  <div class="col-xs-2 col-lg-4 text-center"><div class="first-name"></div></div>
					  <div class="col-xs-5 col-lg-4 text-left"><div class="first-name" data-bind="text: playerBFirstName"></div></div>
					</div>
					<div class="row">
					  <div class="col-xs-5 col-lg-4 text-right"><div class="prob" data-bind="text: playerAWinProb"></div></div>
					  <div class="col-xs-2 col-lg-4 text-center"><div class="prob"></div></div>
					  <div class="col-xs-5 col-lg-4 text-left"><div class="prob" data-bind="text: playerBWinProb"></div></div>
					</div>						
					<div class="row">
						<div class="col-xs-5 col-lg-4 text-right"><div class="odd"><a data-bind="attr: { href: homeWinClickThrough, title: homeWinClickThroughLocation, target: '_blank' }, text: homeWinOdds"></a></div></div>
						<div class="col-xs-2 col-lg-4 text-center"><div class="odd"><span class="no-months">Best </span>Odds</div></div>
						<div class="col-xs-5 col-lg-4 text-left"><div class="odd"><a data-bind="attr: { href: awayWinClickThrough, title: awayWinClickThroughLocation, target: '_blank' }, text: awayWinOdds"></a></div></div>
					</div>
					<div class="row" data-bind="with: predictions">
						<div class="col-xs-5 col-lg-4 text-right"><div class="match-count" data-bind="text: playerAGames"></div></div>
						<div class="col-xs-2 col-lg-4 text-center"><div class="match-count">Matches<span class="no-months"> (last 18 months)</span></div></div>
						<div class="col-xs-5 col-lg-4 text-left"><div class="match-count" data-bind="text: playerBGames"></div></div>
					</div>
          <div class="row">
            <div class="col-xs-12 col-lg-12 text-center">
              <span class="advice" data-bind="text: temporaryBetCaption"></span>
            </div>
          </div>	
				</div>
			</div>	 <!--Match div-->		
		</section>
    <section id="matches-collection-football" data-bind="foreach: todaysFootballSchedules">
			<div class="match">
				<div class="match-header">
					<small class="pull-left" data-bind="text: league"></small>
					<small class="pull-right" data-bind="text: matchTime"></small>
				</div>
				<div class="match-content">
					<div class="row">
            <div class="clearfix visible-xs"></div>
					  <div class="col-xs-5 col-lg-4 text-right"><div class="team" data-bind="text: homeTeam"></div></div>
					  <div class="col-xs-2 col-lg-4 text-center"><div class="vs">vs.</div></div>
					  <div class="col-xs-5 col-lg-4 text-left"><div class="team" data-bind="text: awayTeam"></div></div>
					</div>
					<div class="row">
            <div class="clearfix visible-xs"></div>
						<div class="col-xs-5 col-lg-4 text-right"><div class="outcome">Home win</div></div>
						<div class="col-xs-2 col-lg-4 text-center"><div class="outcome">Draw</div></div>
						<div class="col-xs-5 col-lg-4 text-left"><div class="outcome">Away win</div></div>
					</div>								
					<div class="row">
					  <div class="col-xs-5 col-lg-4 text-right"><div class="prob" data-bind="text: homeWinProb"></div></div>
					  <div class="col-xs-2 col-lg-4 text-center"><div class="prob" data-bind="text: drawProb"></div></div>
					  <div class="col-xs-5 col-lg-4 text-left"><div class="prob" data-bind="text: awayWinProb"></div></div>
					</div>						
					<div class="row">
						<div class="col-xs-5 col-lg-4 text-right"><div class="odd"><a data-bind="attr: { href: homeWinClickThrough, title: homeWinClickThroughLocation, target: '_blank' }, text: homeWinOdds"></a></div></div>
						<div class="col-xs-2 col-lg-4 text-center"><div class="odd"><a data-bind="attr: { href: drawClickThrough, title: drawClickThroughLocation, target: '_blank' }, text: drawOdds"></a></div></div>
						<div class="col-xs-5 col-lg-4 text-left"><div class="odd"><a data-bind="attr: { href: awayWinClickThrough, title: awayWinClickThroughLocation, target: '_blank' }, text: awayWinOdds"></a></div></div>
					</div>
          <div class="row">
            <div class="col-lg-12 text-center">
              <span class="advice" data-bind="text: temporaryBetCaption"></span>
            </div>
          </div>				
				</div>
			</div>	 <!--Match div-->	
    </section>
	</div>
</div>