@{
  bool? modelValue = ViewData.Model != null ? 
    Convert.ToBoolean(ViewData.Model, System.Globalization.CultureInfo.InvariantCulture) :
    null;
}
@if (ViewData.ModelMetadata.IsNullableValueType)
{
  <select class="list-box tri-state" disabled="disabled">
    <option value="" @(modelValue.HasValue ? "" : "selected='selected'")>Not Set</option>
    <option value="true" @(modelValue.HasValue && modelValue.Value ? "selected='selected'" : "")>True</option> 
    <option value="false" @(modelValue.HasValue && !modelValue.Value ? "selected='selected'" : "")>False</option>
  </select>
  } else {
  <input class="check-box" disabled="disabled" type="checkbox" @(modelValue.Value ? "checked='checked'" : "") />
}