/* #region HTML RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym,address, big,cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,  details, figcaption, figure, footer, header, hgroup, menu,
nav, section, summary, time, mark, audio, video
{
    font: inherit;
    margin: 0;
}

/* #endregion */

/* #region Splash */
.page-splash
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    opacity: 0.2;
    pointer-events: auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}
.page-splash-message {
    text-align: center;
    margin: 10% 0 0 0;
    font-size: 400%;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-weight: normal;
    -webkit-text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    text-decoration: none;
    font-family: monospace;
    color: #F58A00;
    padding: 0;
}
.page-progress-bar {
    margin: 10% 30% 0 30%;
}
/* #endregion */

/* #region bootstrap overrides */
body{
	background-image: url("images/lightpaper-1.png"), url("images/lightpaper-2.png");
    background-repeat: repeat-y, repeat;
    font-family: "Segoe UI", sans-serif;
    font-size:17px;
}

h1,h2,h3 {
	font-family:"FuturaBT-Bold", Impact, sans-sefif;
	text-transform:uppercase;
	word-spacing:.1em;
}

h1{
	font-size: 4.2857em;
	margin-top: 2%;
	margin-bottom: 2%;
	text-align:center;
	word-spacing: 6px;
}
h2{
	font-size: 2.2857em;
}
.navbar{
	min-height: 35px;
}

.nav > li > a {
	padding: 6px 15px;
}

p {
	margin: 0 0 0px;
}

.loader .page-progress-bar {
    margin: 14px 0 0 0 ;
}

.loader {
    visibility: hidden;
}
.loader.active {
    visibility: visible;
}



.top-navo.btn-info:hover, .top-navo.btn-info:focus, .top-navo.btn-info:active, .top-navo.btn-info.active {
	background-color: transparent;
	border-color: transparent;
}
.top-navo.btn:hover, .top-navo.btn:focus {
	color: black;
	text-decoration: none;
}
.top-navo.btn-info:active, .top-navo.btn-info.active {
	background-color: transparent;
	border-color: transparent;
}
.top-navo.btn:active, .top-navo.btn.active {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.top-navo.btn-info:hover, .top-navo.btn-info:focus, .top-navo.btn-info:active, .top-navo.btn-info.active, .top-navo.open .top-navo.dropdown-toggle.btn-info {
	color: #B21B1B;
}
.top-navo.btn-info {
  background-color:transparent;
	border-color:transparent;
}
/* #endregion */

.white-paper{
    background-image: url("images/lightpaper-1.png"), url("images/lightpaper-2.png");
    background-repeat: repeat-y, repeat;	
}

.btn{
	text-transform:uppercase;
	font-weight:bold;
	padding: 8px 30px 0px 30px;
	font-size: 1.29em;
}

#calculate-value{
  padding: 8px 12px;
  font-size: 1em;
  margin-right: 1%;
  color: white;
}

.btn-info{
  color: #B21B1B;
}
#top-paint {
	position:absolute;
	width: 100%;
	margin-left: -3%;
	margin-top: 0.7%;
	overflow:hidden;
}
#bottom-paint{
	margin-top:-85px;
	width: 100%;
}
#elevator-pitch{
  height: 480px;
  text-align: center;
  background-image: -webkit-linear-gradient(86deg, transparent 15%, rgba(0, 0, 0, 0.75) 15%);
  background-image: -moz-linear-gradient(86deg, transparent 15%, rgba(0, 0, 0, 0.75) 15%);

  background-position: bottom;
  background-repeat: no-repeat;
  color: white;
}

#elevator-pitch h2 > img{
	width: 260px;
	margin-top:4%;
}
#elevator-pitch p{
	font-size:1.5em;
}

#free-bets{
  min-height: 600px;
  text-align: center;
  background-color: black;
  color: white;
}
#free-bets-container{
  padding-top: 150px;
}

.active{
  font-weight:bold;
  font-size:1.29em;
}

.main {
	max-width: 1100px;
	margin: -2% auto 3% auto;
	color: rgba(0, 0, 0, 0.75);
}
.main > h2 {
	text-align: center;
}
.main p {
	font-size:1.5em;
	text-align:center;
}

.main-banner-container{
	margin: 3% auto;
  visibility: hidden;
}

#side-bar{
	background-color: rgba(0, 0, 0, 0.75);
	border-radius:4px;
	border: 2px solid black;
	margin: 2%;
}

#action-wrapper{
  margin-bottom: 2%;
}

.main h1, h2, h3, h4 {
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

.main-content-info{
	margin: 3% auto;
}

.main-banner{
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 4px;
	border: 2px solid black;
	display:inline-block;
}

.filter-box{
	background: url(images/search.png) #FFFFFF no-repeat 10px center;
	border: solid 1px rgb(200,200,200);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
	color:#000000;
	display:block;
	font-size:100%;
	padding: 5px 10px 7px 35px;
	width:100%
}
.filter-box-container{
	margin:1%;
}

.nav-header{
	color:#FFFFFF;
	font-size: 1.2em;
	border-bottom:solid 1px rgba(0,0,0,0.08);
	box-shadow: 0 1px rgba(255,255,255,0.8);	
}

.match{
	border-bottom: solid 1px rgba(0,0,0,0.08);
	box-shadow: 0px rgba(255,255,255,0.8);
	margin: 0 0 0 4%;
	padding: 2%;
}

.match .team {
	font-size: 1.2857em;
	word-spacing: .1em;
}
.match-header {
	min-height: 1em;
}
.match-content{
	padding: 1%;
	margin: 0px auto;
}
.match-counter{
  padding: 8px 12px;
  margin-left: 1%;
  font-size: 1.2em;
}
/* #region icons */
.clear-text {
    width: 12px;
    height: 12px;
	-moz-opacity: 0.3;
    opacity: 0.3;
    float: right;
    cursor: pointer;
    font-weight: bold;
    margin-top: -34px;
    margin-right: 10px;
    font-size:15pt;
}
/* #endregion */

@media only screen and (max-width: 1200px) {
  body { font-size: 15px }

  #elevator-pitch h2 > img{
	  width: 220px;
  }
  #elevator-pitch {
    height: 450px;
  }
}



@media only screen and (max-width: 1060px) {
  body { font-size: 13px }

  #elevator-pitch h2 > img{
	  width: 180px;
  }
}